
#chinhsua{
	border-style: none;
    border-color: inherit;
    border-width: medium;
    margin-left:50px;
	width:150px;
	height:30px;
	border-radius:10px;
	background-color:#db8686;
	color:white;
	position:absolute;
	top:8%;
	left:34%;
}
.taikhoan{
	border:none;
	margin-left:50px;
	width:150px;
	height:30px;
	border-radius:10px;
	background-color:#db8686;
	color:white;
	position:absolute;
	top:18%;
	left:35%;
	
}
article button:hover{
	background-color:#F99;
	
}

article .cn{
	position:relative;	
	margin-top:30px;
	margin-left:30px;
}
.cn #ten{
	position:absolute;
	top:14%;
	left:18%;	
}
.cn #tuoi{
	position:absolute;
	top:46%;
	left:18%;	
}
.cn #diachi{
	position:absolute;
	top:60%;
	left:18%;	
}
.cn #email{
	position:absolute;
	top:82%;
	left:18%;	
}
article .cn span{
	color:white;
	font-family:Arial, Tahoma, sans-serif;	
}
.cn h3{
	font-family:Arial, Tahoma, sans-serif;
	color:#6a8385;	
	padding-top:10px;
	font-size:24px;
}


