article .banner{
	margin-top:15px;	
}
.column{
	
	float:left;
	margin-right:1%;
	box-sizing:border-box;
	border:1px solid #192536;
	margin-top:30px;
	min-height: 270px;
}
.column:nth-child(6n){
	margin-right: 0;	
}
.column img {
	width: 96%;	
}
.column h2{
	font-size:1em;
	margin-top:10px;	
	
}
.column h2 a{
	text-decoration:none;
	color:#fafafa;	
}
.column h2 a:hover{
	color:#29b385;
}
.column a{
	text-decoration:none;
	color:#576a76;
}
.column a:hover{
	color:#29b385;
}
