<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SVR" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QLWebNgheNhac.mdf;Integrated Security=True;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QLWebNgheNhac.mdf;Integrated Security=True;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
        <add name="MUSIC" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Music.mdf;Integrated Security=True;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>

    </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength='1000000000' />
      </requestFiltering>
    </security>
  
  </system.webServer>
  
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  
</configuration>
